@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-everything(true); //Flexbox mode foundation

body{
    background: #fcfcfc;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.hidden{
    visibility: hidden;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.header-background{
    background: #dddddd;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}

.header-text{
    font-size: 48px;
    font-weight: bold;
    color: maroon;
    text-shadow: 0px 0px 10px white;
    margin: 10px;
}

.roster-text{
    font-size: 24px;
    font-weight: bold;
    color: maroon;
    text-shadow: 0px 0px 10px white;
    margin: 10px;
}

.button-add-user{
    font-size: 36px;;
}

.no-players{
    background: #fcfcfc;
    padding: 50px 0px;
}

.card-container{
    background: white;

    .card{
        background: linear-gradient(white, lightgray);
        box-shadow: 0px 0px 5px black;
        min-height: 450px;
        max-height: 450px;
        overflow: hidden;
        margin: 12px 0px;

        .player-image{
            width: 200px;
            height: 200px;
            //border: 2px solid black;
        }
        .button{
            margin-top: 15px;
        }
        .player-name{
            font-size: 24px;
            font-weight: bold;
            margin: 5px;
        }
        .player-position{
            font-size: 20px;
            font-weight: bold;
            color:grey;
            margin: 5px;
        }
        .player-number{
            font-size: 20px;
            color: grey;
            margin: 5px 0px 15px 0px;
            padding-bottom: 10px;
        }
    }
}

.form-header{
    background: cadetblue;
    border: 3px solid cadetblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.form-header-text{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0px 10px;
}
.form-add-player{
    border: 3px solid cadetblue;
    margin-bottom: 20px;
}

.button-glow{
    box-shadow: 0px 0px 10px lightskyblue;
}

